@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  letter-spacing: .15rem;
}

*::selection {
  background-color: #ebebeb; /* Желтый цвет выделения */
  color: black; /* Цвет текста в выделенном участке */
}

::-webkit-scrollbar {
  width: 10px; /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Цвет фона скроллбара */
}

::-webkit-scrollbar-thumb {
  background-color: #afafaf; /* Цвет ползунка скроллбара */
  border-radius: 5px; /* Скругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b6b6b; /* Цвет ползунка при наведении */
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}


/*Основной css*/

.first-screen{
    width: 100%;
    height: 100vh;
    background-image: url('./assets/img/main-image.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}

.logo{
    display: flex;
    column-gap: 10px;
}

.nav-links{
    display: flex;
    column-gap: 88px;
}

#burger-menu{
  display: none;
}

.menu-overlay{
  display: none;
  flex-direction: column;
  position: fixed;
  background-color: #000000;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  background: rgba(0, 0, 0, 0.055);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.menu-overlay-nav-links{
  display: flex;
  flex-direction: column;
  row-gap: 88px;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-overlay-nav-links a {
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.menu-overlay-nav-links a:active {
  color: #FBC94C;
}

.nav-links a {
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    color: #FBC94C;
}

.main-header-section{
    width: 540px;
}

.main-header{
    color: #fff;
    font-size: 64px;
    font-weight: 700;
}

.second-header{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.second-header h2{
    color: #fff;
    font-size: 16px;
}

.features-screen{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.features-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
}

.header-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    text-align: center;
}

.header-component span{
    height: 3px;
    width: 50px;
    background-color: #FBC94C;
}

.header-component h3{
    font-size: 48px;
    font-weight: 700;
}

.features-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 100px;
    width: 950px;
    margin: 0 auto;
    margin-top: 40px;
}

.features{
    display: flex;
    width: 400px;
    column-gap: 20px;
}

.features h4{
    font-size: 18px;
    font-weight: 700;
}

.features p{
    font-size: 14px;
}

.about-screen{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-screen-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  row-gap: 40px;
}

.about-text{
  text-align: center;
}

.speakers-screen{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.speakers-screen-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  row-gap: 40px;
}

.speaker-card{
  width: 340px;
  background-color: #afafaf;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: box-shadow .15s ease-in;
  position: relative;
}

.speaker-card:hover .speaker-socials{
  opacity: 1;
}

.speaker-info{
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 10px;
}

.speaker-card h5{
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.speaker-card p {
  font-size: 12px;
  text-align: center;
}

.speaker-card:hover{
  -webkit-box-shadow: 0px 0px 20px 1px #000000;
  -moz-box-shadow: 0px 0px 20px 1px #000000;
  box-shadow: 0px 0px 20px 1px #000000;
  z-index: 10;
}

.speaker-socials{
  opacity: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  transition: opacity 0.3s ease; /* Добавляем плавный переход */
}

.speakers-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.speaker-card_disabled{
  width: 340px;
  height: 350px;
  background-color: #afafaf;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #241B70;
}

.speaker-card_disabled p {
  font-size: 150px;
  font-weight: 700;
  color: #fff;
}

.contact-us-screen{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-us-screen-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  row-gap: 40px;
}

.form{
  width: 600px;
  -webkit-box-shadow: 0px 0px 10px 1px #cecece;
  -moz-box-shadow: 0px 0px 10px 1px #cecece;
  box-shadow: 0px 0px 10px 1px #cecece;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  row-gap: 30px;
}

.form input{
  width: 100%;
  height: 70px;
  outline: none;
  border: 1px solid #001C4B;
  padding: 10px;
}

.form select{
  width: 100%;
  outline: none;
  border: 1px solid #001C4B;
  padding: 20px;
  resize: none;
}

.send-button{
  width: 100%;
  background-color: #241B70;
  font-size: 20px;
  font-weight: 700;
  color: #FBC94C;
  border: none;
  padding: 18px;
}

.send-button:active{
  background-color: #4337ad;
}

.how-to-find-us-screen{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.how-to-find-us-screen-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  row-gap: 40px;
}

.map{
  width: 100%;
}

.footer{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  background-color: #241B70;
  justify-content: space-between;
  padding: 60px;
  text-align: center;
}

.social-icons{
  display: flex;
  column-gap: 30px;
  margin: 0 auto;
}

.footer p {
  color: #fff;
}

/*Адаптив*/

@media screen and (max-width: 1170px){
  .wrapper{
    width: 750px;
  }

  .nav-links{
    display: none;
  }

  #burger-menu{
    display: block;
  }

  .features-wrapper{
    width: 750px;
  }
  
  .features-section{
    width: 750px;
    flex-direction: column;
    align-items: center;
  }
  
  .about-screen-wrapper{
    width: 750px;
  }

  .speakers-screen-wrapper{
    width: 750px;
  }

  .speakers-section{
    row-gap: 40px;
  }

  .contact-us-screen-wrapper{
    width: 750px;
  }

  .how-to-find-us-screen-wrapper{
    width: 750px;
  }
}


@media screen and (max-width: 800px){
  .wrapper{
    width: 550px;
  }

  .first-screen{
    background-position: 65% 50%;
  }

  .nav-links{
    display: none;
  }

  #burger-menu{
    display: block;
  }

  .features-wrapper{
    width: 550px;
  }
  
  .features-section{
    width: 550px;
    flex-direction: column;
    align-items: center;
  }
  
  .about-screen-wrapper{
    width: 550px;
  }

  .speakers-screen-wrapper{
    width: 550px;
  }

  .contact-us-screen-wrapper{
    width: 550px;
  }

  .form{
    width: 500px;
  }

  .how-to-find-us-screen-wrapper{
    width: 550px;
  }
}

@media screen and (max-width: 580px){
  .wrapper{
    width: 400px;
  }

  .main-header-section{
    width: 380px;
  }

  .main-header{
    font-size: 45px;
  }

  .nav-links{
    display: none;
  }

  #burger-menu{
    display: block;
  }

  .features-wrapper{
    width: 400px;
  }
  
  .features-section{
    width: 400px;
    flex-direction: column;
    align-items: center;
  }
  
  .about-screen-wrapper{
    width: 400px;
  }

  .speakers-screen-wrapper{
    width: 400px;
  }

  .contact-us-screen-wrapper{
    width: 400px;
  }

  .form{
    width: 380px;
  }

  .how-to-find-us-screen-wrapper{
    width: 400px;
  }
}

@media screen and (max-width: 450px){
  .wrapper{
    width: 320px;
  }

  .main-header-section{
    width: 320px;
  }

  .main-header{
    font-size: 40px;
  }

  .nav-links{
    display: none;
  }

  #burger-menu{
    display: block;
  }

  .features-wrapper{
    width: 320px;
  }
  
  .features-section{
    width: 320px;
    flex-direction: column;
    align-items: center;
  }
  
  .features{
    display: flex;
    width: 320px;
    column-gap: 20px;
  }

  .features h4{
      font-size: 16px;
  }

  .features p{
      font-size: 14px;
  }

  .about-screen-wrapper{
    width: 320px;
  }

  .speakers-screen-wrapper{
    width: 320px;
  }

  .contact-us-screen-wrapper{
    width: 320px;
  }

  .form{
    width: 320px;
  }

  .how-to-find-us-screen-wrapper{
    width: 320px;
  }

  .footer p {
    font-size: 12px;
  }
}

#success{
  font-weight: 700;
  color: green;
  display: none;
}

#error{
  font-weight: 700;
  color: red;
  display: none;
}

#empty{
  font-weight: 700;
  color: red;
  display: none;
}

#captcha{
  font-weight: 700;
  color: red;
  display: none;
}